/* Nav related styls */
nav{
  display: flex;
  justify-content:space-between ;
  padding: 0px 200px;
}
body{
font-family: 'lato', Sans-Serif;
font-family:'open sans', Sans-Serif;
  
}
.text-primary{
  color :#FD6C0A;
}
nav >ul{
  display: flex;
  align-items: center;
}
nav  li {
  list-style: none;
  margin-right:50px;
}
nav a{
  text-decoration: none;
  color:#474747 ;
}
.btn-primary{
  background:#FD6E0A ;
  border-radius:5px ;
  border:0;
  font-size: 20px;
  font-weight: 700;
  color: white;
  padding: 15px 35px;
}
#mry{font-size: 50px;
  
}
  /* Header Related styls */
.header{
  background-color: #FFF8F3;
background-image: url('../work 2/IMAGE/header_bg.png')

}

.banner{
  padding:30px 30px 30px 150px;
  display: flex;
  align-items: center;
}
.banner .profile-pic{
  width: 500px;
}