/* Nav related styles  */
#line{
  display: flex;
}
.nav-title{
  color: #181818;
  font-family: Open Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height:normal;
}
.btn-primary{
  border-radius: 5px;
  background-color: #FD6E0A;
  color: whitesmoke;
  border: 0;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 40px;
}
/*Common Shared style */
 body{
  font-family: 'Lato', sans-serif;
  font-family: 'Open sans', sans-serif;
}

.a-letter{
  color: #FD6E0A;
}
/* Nav related */
nav >ul{
  display: flex;
align-items: center;
}
nav {
  justify-content: space-between;
  display: flex;
  align-items: center;
}
nav li{
  list-style: none;
  margin-right: 50px;
}
nav a{
  text-decoration: none;
  color: #474747;
}